# Subproject c
- Willingness to pay and use platform
- Author: Roberto P. (GitHub: Roberto919) (mail: robertosysm@gmail.com)

---

# Imports

#### Python libraries

In [1]:
import pandas as pd

import os

import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

#### Ancillary modules

In [23]:
## Reloading module
%load_ext autoreload
%autoreload 2

from Sp_c_params import *
from Sp_c_funcs import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

---

# Upload and clean data

In [24]:
df = pd.read_csv(os.path.join(relative_data_loc, file_name))

In [25]:
cleaning_df(df)

In [26]:
df

,ID,Considera_tele,Cree_comun_tele,Pagar_cuanto,Regularidad_uso
0,4,NO,1: No será común,No pagaría por una,1: No la utilizaría
1,5,NO,2: Poco común,Menos de $100,2: Con poca regularidad
2,6,NO,2: Poco común,Menos de $750,2: Con poca regularidad
3,7,SI,3: Neutral,No pagaría por una,1: No la utilizaría
4,8,NO,2: Poco común,Menos de $100,1: No la utilizaría
...,...,...,...,...,...
749,753,NO,5: Totalmente Común,Más de $750,5: Regularmente
750,754,SI,5: Totalmente Común,Más de $750,5: Regularmente
751,755,SI,5: Totalmente Común,Más de $750,5: Regularmente
752,756,SI,2: Poco común,Menos de $100,3: Neutral
753,757,SI,3: Neutral,Menos de $100,3: Neutral

---

# Initial data exploration

### Proportion summaries

In [27]:
dfx = df.copy()

In [28]:
rc = 'Considera_tele'
dfx1 = dfx.loc[:, ['ID', rc]].groupby([rc]).count()
id_sum = dfx1['ID'].sum()
dfx1['Prop'] = dfx1['ID'].apply(lambda x: x/id_sum)
dfx1

                 ID      Prop
Considera_tele
NO              374  0.496021
SI              380  0.503979

In [29]:
rc = 'Regularidad_uso'
dfx1 = dfx.loc[:, ['ID', rc]].groupby([rc]).count()
id_sum = dfx1['ID'].sum()
dfx1['Prop'] = dfx1['ID'].apply(lambda x: x/id_sum)
dfx1

                            ID      Prop
Regularidad_uso
1: No la utilizaría        192  0.254642
2: Con poca regularidad    225  0.298408
3: Neutral                 174  0.230769
4: Con cierta regularidad  123  0.163130
5: Regularmente             40  0.053050

In [30]:
rc = 'Pagar_cuanto'
dfx1 = dfx.loc[:, ['ID', rc]].groupby([rc]).count()
id_sum = dfx1['ID'].sum()
dfx1['Prop'] = dfx1['ID'].apply(lambda x: x/id_sum)
dfx1

                     ID      Prop
Pagar_cuanto
Menos de $100       172  0.228117
Menos de $750       197  0.261273
Más de $750          18  0.023873
No pagaría por una  367  0.486737

### Histograms

In [ ]:
dfx = df.copy()

In [ ]:
fig, ax = plt.subplots()

plt.hist(
    dfx['Regularidad_uso'],
    color='purple'
)

fig.set_size_inches(12, 5)

plt.title('Regularidad esperada de uso')

plt.show()

In [ ]:
fig, ax = plt.subplots()

plt.hist(
    dfx['Pagar_cuanto'],
    color='green'
)

fig.set_size_inches(17, 5)

plt.title('Monto dispuestos a pagar')

plt.show()

In [ ]:
fig, ax = plt.subplots()

plt.hist(
    dfx['Cree_comun_tele'],
    color='blue'
)

fig.set_size_inches(14, 5)

plt.title('Percepción de la telemedicina')

plt.show()

---

# Chi-square test of independece

### Contingency table

In [31]:
dfx = df.copy()

In [33]:
rc = [
    'Cree_comun_tele',
    'Regularidad_uso',
    'ID'
]

dfx.loc[:, rc].groupby(['Cree_comun_tele', 'Regularidad_uso']).count().unstack()

                                      ID                                     \
Regularidad_uso      1: No la utilizaría 2: Con poca regularidad 3: Neutral
Cree_comun_tele
1: No será común                   108.0                    37.0       12.0
2: Poco común                       43.0                   134.0       43.0
3: Neutral                          24.0                    43.0       97.0
4: Muy Común                        11.0                    11.0       20.0
5: Totalmente Común                  6.0                     NaN        2.0


Regularidad_uso      4: Con cierta regularidad 5: Regularmente
Cree_comun_tele
1: No será común                           NaN             2.0
2: Poco común                             16.0             2.0
3: Neutral                                35.0             4.0
4: Muy Común                              67.0            16.0
5: Totalmente Común                        5.0            16.0

---